<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.3" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.24" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.24" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Microsoft.Xrm.Client.2015" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Xrm.Sdk.2015" version="7.1.0.1085" targetFramework="net48" />
  <package id="Microsoft.Xrm.Sdk.Deployment.2015" version="7.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="Ninject.Web.Common" version="3.3.2" targetFramework="net48" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.2" targetFramework="net48" />
  <package id="Ninject.Web.WebApi" version="3.3.1" targetFramework="net48" />
  <package id="Ninject.WebApi.DependencyResolver" version="0.1.4758.24814" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>